/*====================================

  Baseスタイル,Scss設定のファイル

====================================*/

/*====================================

  フォント定義

====================================*/


@font-face {
  font-family: Alegreya;
  src: url('fonts/Alegreya/Alegreya-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Alegreya;
  src: url('fonts/Alegreya/Alegreya-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Alegreya;
  src: url('fonts/Alegreya/Alegreya-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

/*====================================

  配色テーマカラー
  基本的にこの中の色を使う
  #fffと#000は例外的に使用可能

====================================*/

$darkBackground:#2b2c38;
$lightBackground:#f4f7f9;
$disabled:#6d6d74;
$input:#efefef;
$black:#2b2c38;
$middle:#888;
$white:#f4f7f9;
$blue:#346791;
$red:#8E3733;

/*====================================

	scssブレイクポイント設定

====================================*/

$queries: ('smallMobile':'screen and (max-width: 450px)',
  'mobile': 'screen and (max-width: 700px)',
  'tablet': 'screen and (max-width: 959px)',
  'desktop': 'screen and (min-width: 960px)',
  'dark':'(prefers-color-scheme: dark) ',
) !default;

@mixin mediaQuery($query: desktop) {
  @media #{map-get($queries, $query)} {
    @content;
  }
}

/*====================================

	Baseスタイル

====================================*/


html,
body {
  height: 100%;
  font-family: Alegreya, sans-serif;
  background-color: $white;
  color: $black;
}

@include mediaQuery(dark) {

  html,
  body {
    background: $black;
    color: $white
  }

  a {
    color: $white
  }
}
