// colors
// blue:#739AB1
// gray:#CECABF
// orange:#DEA785
// deepOrange:#9D6B7D
// red:9D6B7D
// purple:6A5E76

.u-clickable {
  cursor: pointer;
}

.u-hoverable:hover {
  opacity: 0.7;
}

.u-red-text {
  color: #AD7370 !important;
}

.indexWrapper {
  padding: 30px 20px;
  max-width: 960px;
  margin: 0 auto;
}

//nav
.nav {
  >a {
    font-weight: 900;
    color: #000;
    font-size: 20px;
  }
}


//container
.container {
  display: flex;
  flex-wrap: wrap;
}

.container_item {
  width: calc(100% / 3 - 20px);
  margin: 20px 10px 0;
}


//card
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 5px 25px;
  padding: 15px 20px 5px;
  min-height: 280px;
}

.card_imgWrap {
  margin-top: 10px;
  height: 150px;
  position: relative;
  overflow: hidden;

  >img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
}

.card_textWrap {
  padding: 5px;
}

.card_title {
  margin-top: 10px;
  font-size: 16px;
  color: #000;
}

.card_text {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.card_categories {
  margin-top: 10px;
}

.categoryWrap {
  display: flex;
}

.categoryWrap_category {
  padding: 5px;
  margin-right: 5px;
  color: #fff;
  border-radius: 10px;
  background-color: #607d8b;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

//blogDetailPage(ブログページ全体)
.blogDetailPage_inner {
  padding: 10px 25px;
}

.blogDetailPage_body{
  p{
    margin: 20px 0;
  }
}

.blogDetailPage_img {
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
}

//blogHead(ブログページの上半分)

.blogHead {}

.blogHeader_title {
  margin-top: 10px;
  font-size: 36px;
}

.blogHeader_subtitle {
  margin-top: 20px;
  font-size: 20px
}

.blogHeader_categories {
  margin-top: 10px;
}

.blogHeader_imgWrap {
  margin-top: 10px;
  width: 100%;

  >img {
    margin: 0 auto;
    width: 80%;
  }
}


//footerLayout
.footer {
  padding: 40px;
  font-size: 20px;
  text-align: center;

  a {
    color: #6A5E76;
  }
}
