/*
配色テーマcolors

blue:#739AB1
gray:#CECABF
orange:#DEA785
deepOrange:#9D6B7D
red:9D6B7D
purple:6A5E76

*/



/*====================================

	scssブレイクポイント設定

====================================*/
$queries: ('smallMobile':'screen and (max-width: 375px)',
  'mobile': 'screen and (max-width: 600px)',
  'tablet': 'screen and (max-width: 959px)',
  'desktop': 'screen and (min-width: 960px)',
  'dark':'(prefers-color-scheme: dark) ',
) !default;

@mixin mediaQuery($query: desktop) {
  @media #{map-get($queries, $query)} {
    @content;
  }
}

/*====================================

	utilクラス

====================================*/


.hp-displayNone__mobile {
  @include mediaQuery($query: mobile) {
    display: none !important;
  }
}

.hp-displayNone__desktop {
  @include mediaQuery() {
    display: none !important;
  }
}

.hp-clickable:hover {
  cursor: pointer;
}

.hp-hoverable:hover {
  opacity: 0.7;
}

.hp-red-text {
  color: #AD7370 !important;
}

.hp-mt10 {
  margin-top: 10px;
}

.hp-mt20 {
  margin-top: 20px;
}

.hp-mt30 {
  margin-top: 30px;
}

/*====================================

	ページ枠,ナビ

====================================*/

html,
body {
  height: 100%;
  font-family: Alegreya, sans-serif;
  background-color: #f4f7f9;
  color: #2b2c38;
}

@include mediaQuery('dark') {

  html,
  body {
    background: #2b2c38;
    color: #dcdcdc
  }

  a {
    color: #dcdcdc
  }
}


.indexWrapper {
  padding: 20px 10px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;

  @include mediaQuery {
    padding: 30px 20px;
  }

  &:after {
    content: "Browser：Light mode";
    position: absolute;
    right: 10px;
    top: 10px;
  }

  @include mediaQuery('dark') {
    &:after {
      content: "Browser：Dark mode"
    }
  }
}

.pageWrapper {
  position: relative;
}

.nav {
  padding: 10px 5px;

  >a {
    font-weight: 900;
    font-size: 30px;

    @include mediaQuery {
      font-size: 40px;
    }
  }
}

.introduce {
  margin-top: 20px;
  max-width: 600px;
}

.categoryPageHeader {
  margin-top: 20px;
  font-size: 26px;
}

.previewAlert {
  padding: 20px 30px;
}

.ly-headWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*====================================

	container(トップページのリストカードの枠)

====================================*/
.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container_item {
  width: calc(100% / 3 - 10px);
  margin: 20px 5px 0;
  min-width: 160px;
  min-height: 280px;
  transition: 0.5s;


  &:hover {
    background: #000;
  }

  @include mediaQuery {
    width: calc(100% / 3 - 20px);
    margin: 30px 10px 0;
  }

  @include mediaQuery(mobile) {
    width: calc(100% / 2 - 10px);
    margin: 20px 5px 0;
    min-width: 160px;
    transition: 0.5s;
  }

  @include mediaQuery(smallMobile) {
    width: 100%;
    margin: 20px 10px 0;
  }

  @include mediaQuery('dark') {
    &:hover {
      background: #111;
    }
  }
}


// .container_listItem {
//   width: 100%;
//   margin: 20px 5px 0;
//   transition: 0.5s;

//   &:hover {
//     background: #000;
//   }
// }


/*====================================

	card(トップページのリストカード単体)

====================================*/
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 5px 25px;
  padding: 15px 20px 5px;

  @include mediaQuery('dark') {
    background: #333;
  }
}

.card_imgWrap {
  margin-top: 10px;
  height: 150px;
  position: relative;
  overflow: hidden;

  >img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
}

.card_textWrap {
  padding: 5px;
}

.card_title {
  margin-top: 10px;
  font-size: 16px;
}

.card_text {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.categories {
  margin-top: 20px;
  justify-content: flex-end;
}

.card_categories {
  margin-top: 10px;
}

/*====================================

  category(リストカードについてるタグ)

====================================*/

.categoryWrap {
  display: flex;
}

.categoryWrap_category {
  font-size: 11px;
  padding: 3px;
  margin-right: 3px;
  border-radius: 10px;
  background-color: #607d8b;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);

  @include mediaQuery {
    font-size: 12px;
    padding: 5px;
    margin-right: 5px;
  }

  p {
    color: #f4f7f9;
  }
}

/*====================================

  blogDetailPage(ブログ詳細ページ、リッチテキスト部分)

====================================*/

.blogDetailPage {}

.blogDetailPage_inner {
  padding: 10px 25px;
}

.blogDetailPage_body {
  p {
    margin: 20px 0;
  }
}

.blogDetailPage_img {
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
}

/*====================================

  blogHead(ブログページの上半分)

====================================*/

.blogHead {}

.blogHeader_title {
  margin-top: 10px;
  font-size: 36px;
}

.blogHeader_subtitle {
  margin-top: 20px;
  font-size: 20px
}

.blogHeader_categories {
  margin-top: 10px;
}

.blogHeader_imgWrap {
  margin-top: 10px;
  width: 100%;

  >img {
    margin: 0 auto;
    width: 80%;
  }
}

/*buttonコンポーネント*/

.bl-button {
  text-align: center;
}

.bl-button_inner {
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  background: #6A5E76;
  padding: 10px 30px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  width: 150px;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  border: 2px solid transparent;
  text-shadow: none;
  transition: 0.2s;
}

.bl-button_inner:hover:not(:disabled) {
  background: #fff;
  border-color: currentColor;
  color: #6A5E76;
}

.bl-button_inner:disabled {
  background: #ccc;
  cursor: auto;
}

.bl-searchBox {
  padding: 10px;
  text-align: right;
  margin: 0 0 0 auto
}

.bl-searchBox_header {
  margin-top: 10px;
}

.bl-searchBox_textArea {
  margin-top: 10px;
  position: relative;

}

.bl-searchBox_icon {
  position: absolute;
  left: 5px;
  bottom: 50%;
  transform: translateY(50%);
}

.bl-searchBox_input {
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #fff;
  padding: 5px;
  width: 130px;
}

//
.bl-button2 {
  margin-top: 5px;
  position: relative;
  display: inline-block;
}

.bl-button2_inner {
  padding: 5px 25px 5px 10px;
  border: 1px solid currentColor;
  color: #2b2c38;
  text-decoration: none;
  border-radius: 5px;
  transition: .5s;
  cursor: pointer;
  text-align: center;
}

.bl-button2_icon {
  position: absolute;
  right: 5px;
  bottom: 50%;
  transform: translateY(50%);
  color: #777;
  pointer-events: none;
  transition: .25s;
  background-color: rgba(0, 0, 0, 0);
}

.bl-button2:focus,
.bl-button2:hover {

  .bl-button2_inner,
  .bl-button2_inner {
    background-color: #2b2c38;
    color: #CECABF;
  }

  .bl-button2_icon {
    color: #CECABF;
  }
}


/*====================================

  footerLayout(下部3つ並びのリンク)

====================================*/

.footer {
  padding: 40px;
  font-size: 20px;
  text-align: center;

  a {
    color: #6A5E76;
  }
}
